$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 900;

@import '../../node_modules/bulma/bulma.sass';

html, body {
  background: #F2F6FA;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

//NAVBAR
.navbar.custom {
  border-top: 3px solid $primary;
}

.navbar-item.brand-text {
  font-size: 1rem;
  font-weight: $font-weight-light;

}

.navbar-item, .navbar-link {
  font-size: 14px;

}

.navbar.is-white .navbar-brand > a.navbar-item {
  &:hover, &:focus {
    background-color: transparent;
    //color: #999999;
  }
}

@media screen and (max-width: 1087px) {
  .navbar-menu {
    box-shadow: none;
  }
}

.breadcrumb li + li::before {
  color: $text;
}

.site-content {
  flex: 1 0 auto;
  //margin-top: 32px;
}

.reverse-ellipsis {
  overflow: hidden; /* 1 */
  white-space: nowrap; /* 2 */
  text-overflow: ellipsis; /* 3 */
}

.container {
  padding: 0 25px;
}

.section {
  padding: 3rem 0;
}

.scrollable {
  overflow: scroll;
}

.breadcrumb {
  padding: 8px 0;
}

@media screen and (min-width: 1088px) {
  .container {
    padding: 0;

  }
}

.card {
  border-radius: 5px;
}

.light {
  font-weight: $font-weight-light;

}

.bold {
  font-weight: $font-weight-bold;
}

.is-grey {
  background: #f4f8fc;
}

.footer {
  margin-top: 32px;
  padding: 2rem 1.5rem;
}

hr {
  background-color: transparent;
}

.card.is-disabled {
  background-color: $grey-lighter;
  .title, .subtitle {
    color: $grey-light
  }
  box-shadow: none;
  img {
    opacity: 0.5;
    filter: opacity(50%) grayscale(1);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  }
}
