<%-include('head.ejs') %>
<section class="hero is-black" style="margin-top:-32px;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                404
            </h1>
            <h2 class="subtitle">
                Page Not Found
            </h2>
        </div>
    </div>
</section>

<%-include('foot.ejs') %>