<link rel="stylesheet" type="text/css" href="/style/uppy_dash.css">

<button class="button is-success" id="uppy-trigger">Upload Files</button>
<div style="display: flex;align-items: center; justify-content: center;">
    <div id="drag-drop-area"></div>
</div>

<script src="/js/dist/uploader.js"></script>
<script>
    window.uploader.init('#drag-drop-area', "<%- capture.id %>");
</script>


