</main>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>ImageHog</strong> by <a href="https://github.com/teammaclean">Team MacLean</a>. The Sainsbury
            Laboratory © 2018. All rights reserved.
        </p>
    </div>
</footer>

<script async type="text/javascript" src="/js/dist/main.js"></script>


<script src="https://cdn.jsdelivr.net/gh/TeamMacLean/tsl-bioinformatics-fab/dist/support.fab.js"></script>
<script>
    SupportFab.init({
        url: 'https://hooks.slack.com/services/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',
        email: 'bioinformatics@tsl.ac.uk'
    });
</script>
</body>

</html>