<% locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: sample.project.group.name, link: `/browse/${sample.project.group.safeName}`},
    {name: sample.project.name, link: `/browse/${sample.project.group.safeName}/${sample.project.safeName}`},
    {name: sample.name, link: `/browse/${sample.project.group.safeName}/${sample.project.safeName}/${sample.safeName}`},
    {name: 'New Experiment', active: true}
]; %>
<% include ../head.ejs %>
<div class="container">


    <h1 class="title has-text-centered">New Experiment</h1>

    <form method="post"
          action="/browse/<%- sample.project.group.safeName %>/<%- sample.project.safeName %>/<%- sample.safeName %>/new">

        <div class="columns">
            <div class="column is-6">
                <div class="field">
                    <label class="label">Experiment Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="New experiment name" name="name">
                    </div>
                    <!--<p class="help">This is a help text</p>-->
                </div>
                <div class="control">
                    <button class="button is-success">Create</button>
                </div>
            </div>
    </form>

</div>
<% include ../foot.ejs %>