<% locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: project.group.name, link: `/browse/${project.group.safeName}`},
    {name: project.name, link: `/browse/${project.group.safeName}/${project.safeName}`},
    {name: 'New Experiment', active: true}
]; %>
<% include ../head.ejs %>
<div class="container">


    <h1 class="title has-text-centered">New Experiment</h1>

    <form method="post" action="/browse/<%- project.group.safeName %>/<%- project.safeName %>/new">

        <div class="field">
            <label class="label">Experiment Name</label>
            <div class="control">
                <input class="input is-large" type="text" placeholder="New experiment name" name="name">
            </div>
            <!--<p class="help">This is a help text</p>-->
        </div>
        <div class="control">
            <button class="button is-success">Create</button>
        </div>
    </form>

</div>
<% include ../foot.ejs %>