<%- include ../head.ejs %>
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Help</h1>
        <hr>

        <!--<h2 class="title is-4 has-text-centered">FAQ</h2>-->

        <div class="card">
            <div class="card-content">
                <p>Please contact us at <a href="mailto:bioinformatics.tsl.ac.uk">bioinformatics@tsl.ac.uk</a></p>
            </div>
        </div>
    </div>
</section>
<%- include ../foot.ejs %>