<%

locals.breadcrumbs = [
    {name: 'Home', link: '/'},
    {name: project.group.name, link: `/browse/${project.group.safeName}`},
    {name: project.name, link: `/browse/${project.group.safeName}/${project.safeName}`},
    {name: 'New Sample', active: true}
];
%>
<% include ../head.ejs %>

<section class="section">
    <div class="container">

            <h1 class="title has-text-centered">New Sample</h1>

        <section class="section">
            <p class="">
                A <b>Sample</b> is a rough heading that is meant to capture the basic biological variables and material
                of
                your image. Here we're looking at things like tissue, organelle or growth conditon. You'll be explicitly
                asked for the organism name and NCBI Taxonomy ID to uniquely identify the main organism in the image,
                you
                can look it up at NCBI <a href="https://www.ncbi.nlm.nih.gov/taxonomy">here</a>. Some times it won't be
                clear exactly what should be in <b>Sample</b> and the next layer <b>Experiment</b>. The <b>Sample</b>
                should
                contain many <b>Experiments</b> so use this one to capture the rough aspects that aren't changing. <a onclick="openHelp()" target="_blank">read more.</a>
            </p>
        </section>

        <form method="post" action="/browse/<%- project.group.safeName %>/<%- project.safeName %>/new">

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Sample Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="New experiment name" name="name"
                                   maxlength="30"
                                   required>
                        </div>
                        <p class="help">The name of your sample</p>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Taxonomy ID</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="NCBI Taxonomy ID" name="taxID"
                                   required>
                        </div>
                        <p class="help">This can be found <a href="https://www.ncbi.nlm.nih.gov/taxonomy">here</a></p>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label">Scientific Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Scientific name" name="scientificName"
                                  required>
                        </div>
                        <p class="help">Example: Magnaporthe oryzae</p>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Common Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Common name" name="commonName"
                                   required>
                        </div>
                        <p class="help">Example: rice blast fungus</p>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Protocol</label>
                <div class="control">
                <textarea class="input" placeholder="Protocol" name="protocol"
                          required></textarea>
                </div>
                <p class="help">help text</p>
            </div>
            <div class="control">
                <button class="button is-success">Create</button>
            </div>
        </form>

    </div>
</section>
<% include ../foot.ejs %>